<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katrinaann.badt">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_yellow"
        android:supportsRtl="true"
        android:theme="@style/Owl.Pink">

        <activity android:name=".ui.categories.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Owl">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.blogandnotes.TemporaryActivity"></activity>
        <activity android:name=".ui.blogandnotes.NoteActivity"></activity>
        <activity android:name=".ui.blogandnotes.NoteListActivity"></activity>
        <activity android:name=".ui.blogandnotes.ContentActivity"></activity>
        <activity android:name=".ui.flashcards.FlashcardActivity"></activity>
        <activity android:name=".ui.home.HomeActivity"></activity>
        <activity android:name=".ui.quiz.QuizActivity"></activity>
        <activity android:name=".ui.signin.signupPageActivity"></activity>
        <activity android:name=".ui.quiz.QuizAfterPageActivity"></activity>
        <activity android:name=".ui.quiz.QuizLeaderboardActivity"></activity>
        <activity android:name=".ui.quiz.QuizSelectionPageActivity"></activity>

        <activity
            android:name=".ui.signin.SignInActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="fontProviderRequests"
            android:value="Rubik" />
    </application>

</manifest>